
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}  

/* Login/Register buttons */

.userXperience {
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    flex-direction: column;
}
.button {
    height: 25px;
    width: 10vw;
    margin-bottom: 5px;
    border-radius: 25px;
    background-color: rgb(95, 95, 95);
    color: white;
}

.button:hover {
    background-color: rgb(187, 187, 187);
    color: black;
}

/* List Elements */

ul {
    margin: 0;
    padding: 0;
}  
  
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p {
    font-size: 14px;
}

ul li:nth-child(odd) {
    background: #dadada;
}
  
ul li:hover {
    background: rgb(187, 187, 187);
}
  
/*close button */

ul li.close {
    background: #f12617;
    color: #fff;
    text-decoration: line-through;    
}

ul li.close::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.closeb {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.closeb:hover {
    background-color: #f12617;
    color: white;
}   

/* Tag button */

.tag {
    position: absolute;
    right: 32px;
    top: 0;
    padding: 12px 12px 12px 12px;
}
.tag:hover{
    background-color: #f117d4;
    color: white;
}

 /* Edit Button */

.edit {
    position: absolute;
    right: 64px;
    top: 0;
    padding: 12px 12px 12px 12px;
}
.edit:hover {
    background-color: #a2bb14;
}  
.header {
    background-color: #7dcbff;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}  
input {
    margin-right: 3px;
    margin-bottom: 3px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
/* "Add" button */

.addBtn {
    padding: 10px;
    margin-right: 2%;
    width: 15vw;
    background: #dadada;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.addBtn:hover {
    background-color: rgb(187, 187, 187);
}

/* Login and register */

#cont {
    position: absolute;
    top:15vh;
    left: 40vw;    
    width: 300px;
    margin: 0 auto;
    
}
#login, #register, #forgot {
    opacity: 0;
    border: black solid 1px;
    background-color: rgba(11, 177, 224, 0.82);
    border: 2px solid #ffffff;    
    height: 350px;
    visibility: visible;
}

#cont input{
    display: flex;
    flex-direction:column ;
    width: 250px;
    margin: 10px 13px;
    padding: 10px;
    font-size: 1.3em;
    color: rgba(11, 177, 224, 0.82);
    outline: 2px solid #ffffff;
}

input[type="submit"] {
    width: 272px;
    color: #6e6e6e;
}

.comm {
    position: absolute;
    visibility: hidden;
}


h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #ffffff;
}

#forgot h3 {
    display: block;
    margin-top: 30px;
    text-align: center;
}

#forgot div {
    margin-top: 30px;
}

